<div class="text-center w-100 mt-5" style="background-color: azure; border-radius: 2rem;">
<div class="container">
     <div class="card-body p-5">
            <h3 class="card-title text-center mt-3">Project Selected:<!-- {{projects[receivedIndex].id}}--> </h3>
            <hr>
    <form>
        <div class="form-group text-center">
            <label for="inputField">Provide feedback below!</label>
            <input type="input" class="form-control mt-3" [(ngModel)]="feedback" id="inputField" aria-describedby="input here" placeholder="Enter feedback here">
        </div>
        <button
            *ngIf="!this.editing"
            class="btn btn-primary"
            (click)="addFeedback()"
            [disabled]="this.feedback?.id == null || this.feedback?.content == null"
            >
            Add Post
            </button>
        <button
            *ngIf="this.editing"
            class="btn btn-primary"
            (click)="updateFeedback()"
            [disabled]="this.feedback?.id == null || this.feedback?.content == null"
            >
            Update Post
            </button>
        <button type="submit" (click)="nextClicked()" class="btn btn-primary float-right mt-3">Next</button>
    </form>
        </div>
 </div>
</div>

<div class="card mt-5">
    <div class="card-title text-center mt-3">
      <h3>Posts from MongoDB</h3>
    </div>
  
    <div class="row">
      <div class="col text-center">
        <button class="btn btn-secondary" (click)="viewFeedback()">
          View Feedback
        </button>
      </div>
    </div>
  
    <div class="card-body">
      <hr />
  
      <div class="row" *ngIf="this.feedbacks?.length == 0">
        <div class="col text-center">No Posts</div>
      </div>
  
      <div class="accordion" id="accordionExample" *ngFor="let feedback of feedbacks">
        <div class="accordion-item">
          <h2 class="accordion-header" id="headingOne">
            <button
              class="accordion-button"
              type="button"
              data-bs-toggle="collapse"
              [attr.data-bs-target]="'#A' + feedback.id"
              aria-expanded="true"
              aria-controls="collapseOne"
            >
              {{ feedback.content }}
            </button>
          </h2>
          <div
            id="{{ 'A' + feedback.id }}"
            class="accordion-collapse collapse"
            aria-labelledby="headingOne"
            data-bs-parent="#accordionExample"
          >
            <div class="accordion-body">
              <strong> {{ feedback.content }} </strong>
  
              <div class="row">
                <div class="col-12 d-flex justify-content-center">
                  <button class="btn btn-primary me-1" (click)="editFeedback(feedback)">
                    EDIT
                  </button>
                  <button class="btn btn-danger ms-1" (click)="deleteFeedback(feedback)">
                    DELETE
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

